.container {
    width: 800px;
    height: 600px;
    border: 2px solid;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.container .touch-item {
    width: 160px;
    height: 160px;
    background-color: rebeccapurple;
    display: inline-block;
    margin: auto;
}